<section class="section">
  <h1 class="title is-4 has-text-centered" style="font-family: cursive;">Welcome to Genkimeshi</h1>
  <h2 class="subtitle">
    <div class="box">
      <figure class="image is-3by1">
          <%= image_tag 'vegetables.jpg'%>
      </figure>
    </div>
    <div>
      <h3>
        このウェブサイトは、バランスの取れた
        栄養食を計画することによってダイエットしたい
        あなたを助けることを目的としています.
        このウェブサイトでは、消費する食材のカロリーも
        計算できます
      </h3>
    </div>
  </h2>
</section>
