<section class="box m-4 has-background-warning-light">
  <h1>
    このカロリー数は、100グラムあたりのカロリー数です
  </h1>
</section>

<%= form_with  url: users_calorie_dentakus_path, method: :get do |f| %>

<% end %>

<section class="section" id="ingredients_multiline">
  <%= render 'users/ingredients/form', ingredients: @ingredients %>
</section>

<script>
  var ingredient_data = {}
  $('.amount').on('change', (e) => {
    ingredient_data[$(e.target).attr('id')] = Number($(e.target).val())
    $('#ingredient_data').val(JSON.stringify(ingredient_data))
  });
</script>


