<section class="section">
  <div class="container">
    <div class="columns is-multiline">
        <div class="column is-4">
            <div class="card-content">
              <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                    <% @ingredients.each do |ingredient| %>
                  <h2 class="has-text-centered"><%= ingredient.ingredient_name %></h2></br>
                 <div class="columns">
                  <div class="column">
                    <p class="has-text-centered">
                      <%= form_with model: @ingredient, url:'/users/ingredients' do |f| %>
                      <%= f.select :amount, (1..20).map {|n| [n, n]} %>
                      <% end %>
                    </p>
                  </div>
                  <div class="column">
                    <p>3000</p>
                  </div>
                </div>
                <figure class="image">
                    <%= image_tag ingredient.image, size: "64x64" %>
                </figure>
                </article>
              </div>
            </div>
              
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>