<section class="section">
  <div class="container">
    <div class="columns is-multiline">
        <div class="column is-4">
            <div class="card-content">
              <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                  <h2 class="has-text-centered">ブロッコリー</h2>
                  <p class="has-text-centered">
                    <%= form_with model: @ingredient, url:'/users/ingredients' do |f| %>
                    <%= f.select :amount, [[1,1], [2,2], [3,3], [3,3], [3,3], [3,3], [3,3], [3,3], [3,3], [3,3]] %>
                    <% end %>
                    </p>
                <figure class="image">
                  <%= image_tag 'broccoli', size: "64x64" %>
                </figure>
                </article>
              </div>
            </div>

            </div>
          </div>
        </div>
      <%# end %>
    </div>
  </div>
</section>