<section class="section">
  <div class="container">
    <div class="columns is-multiline">
        <div class="column is-4">
            <div class="card-content">
              <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                  <p class="title has-text-centered">Broccoli</p>
                  <p class="has-text-centered"><%= f.select :amount, [['one',1], ['two',2], ['three',3]] %></p>
                <figure class="image">
                  <%= image_tag 'broccoli', size: "64x64" %>
                </figure>
                </article>
              </div>
            </div>

            </div>
          </div>
        </div>
      <%# end %>
    </div>
  </div>
</section>