<div class="box">
<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">

      <div class="container">
        <h1 class="title has-text-centered has-text-link">材料一覧</h1>
      </div></br>

     <table class="table table is-bordered">
     <thead class="has-background-primary-light">
      <tr>
      <th>材料画像</th>
      <th>材料名</th>
      <th>カロリー数</th>
      <th></th>
      </tr>
      </thead>

      <tfoot>
      <% @ingredients.each do |ingredient| %>
      <tr>
      <th><%= image_tag @ingredient.image %></th>
      <th><%= ingredient.name %></th>
      <th><%= ingredient.calorie %></th>
      </tr>
      <% end %>
      </tfoot>
      </table>

      </div>
    </div>
  </div>
</div>
</div>